/* header {
    background-color:#6d6a6a ;
}
main aside {
    background-color:#4a8857 ;

}
main #container1 {
    background-color:#4f47bd ;

}
main #container2 {
    background-color:#9b742b ;

}
footer {
    background-color:#070707 ;

} */